.App {
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gf-window {
  background-color:darkslateblue;
  color: aliceblue;
  width: 128px;
  height: 256px;
  border: 1px solid black;
  border-radius: 10px;
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
}
.gf-window:hover {
  background-color:rgb(103, 92, 171);
  border: 3px solid rgb(174, 171, 171);
}

.gf-window.visible {
  transform: translateX(0);
}

.drawer {
  position: relative;
  overflow: hidden;
}

.button-slide {
  max-height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.button-slide.visible {
  max-height: 50px; /* Adjust according to the height of your button */
  opacity: 1;
}