.App {
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

body {
  background-color: rgb(74, 74, 82);
}

.wrapper {
  margin: auto;
}


.rida-main {
  display: flex;
  gap: 2px;
}

.rida-element {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  border-radius: 2px;
  padding: 10px 16px;
  border: 1px solid rgb(255, 255, 255);;
  /*border-right: 3px solid rgb(57, 187, 226);*/
  background-color: #d1cfcf;
  transition: background-color 0.3s ease;
  /*box-shadow:
    0.3em 0.3em 1em rgba(143, 143, 143, 0.6);*/
}

.rida-element:hover {
  background-color: #fdecce;
}

.nimi {
  background-color: #e0e0e0;
  /*border-right: 8px solid rgb(187, 124, 29);*/
}

.moot {
  background-color: #d4d7dd;
  /*border-right: 8px solid rgb(109, 165, 182);*/
}

.kaal {
  background-color: #d4dfd5;
  /*border-right: 8px solid rgb(149, 192, 155);*/
}

.active {
  border: 1px dotted rgb(3, 130, 241);;
}

.info-box {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  border-radius: 2px;
  padding: 10px 16px;
  border: 1px solid rgb(255, 255, 255);;  
}